{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
<h1>Sell</h1>
<form action="/sell" method="post">
    <div class="mb-3">
        <label for="symbol">Symbol</label>
        <select name="symbol" id="symbol">
            {% for symbol in symbols %}
            <option value="{{ symbol.symbol }}">{{ symbol.symbol }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="shares">Shares</label>
        <input class="form-control mx-auto w-auto" type="number" name="shares" id="shares" min="1">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>
{% endblock %}
