{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
    <h1>Settings</h1>
    <form action="/settings" method="post">
        <div class="mb-3">
            <p><strong>Name: </strong> {{ username }}</p>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" required  name="curr_password" placeholder="Current Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" required  name="confirmation" placeholder="New Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Save changes</button>
    </form>
{% endblock %}
